# 데이터 타입

## > 숫자형
- 종류
    - 정수 : 0, 양수, 음수인 숫자
    - 실수 : 소수점을 포함하는 숫자
    - 8진수: 0o 또는 0o(왼쪽 숫자0, 오른쪽 알파벳 o)로 시작 : 0o34, 0o25
    - 16진수 (0x로 시작) : 0x2A, 0xFF

In [1]:
0o31

25

In [2]:
0o12 + 0o17

25

In [3]:
0b100101

37

In [4]:
0xa

10

In [5]:
0xFF

255

# 정수형

In [20]:
# 양수, 음수, 0
a = 10
b = -20
c = 0

In [22]:
# 정수 타입 : 타입(데이터 종류)를 확인하는 내장함수 type()
print(type(a))
print(type(b))
print(type(c))
print(type(a), type(b), type(c))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'> <class 'int'> <class 'int'>

# 실수형

In [25]:
# 양의 실수, 음의 실수, 0 : float
a = 1.3
b = -2.4
c = 0.0

In [28]:
# 타입 확인은 직접 해보세요
type(a)
print(type(a), type(b), type(c))

<class 'float'> <class 'int'> <class 'int'>

## > 연산자

- 산술 : +, -, /, //(몫), %(나머지), **(제곱), 자바에서의 나누기는 //
- 비교 : ==(값이 같은지), !=(값이 다른지), <=, >=, <, >
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), *=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

### 1) 산술 연산자 : 숫자를 계산하기 위한 문법 기호

In [31]:
# 더하기 : +
10 + 3 #파이썬에서는 샵으로 주석을 씀. 정수 + 정수 => 정수로 출력
13.3 + 2.4 # 실수 + 실수 => 실수로 출력
10 + 3.4 # 정수 + 실수 => 실수로 출력

13.4

In [33]:
# 빼기 : - 
10 - 3
3 - 7.7

-4.7

In [37]:
# 나누기 : /
# 나누기 결과는 정수 / 정수 여도 실수로 출력됨
3 / 3
7 / 2
5 / 2.5

2.0

In [39]:
# 곱하기 : *
3 * 4 
-3 * 5
(3 - 4) * 5

-5

In [42]:
# 정수 몫만 반환 : //
# 나눗셈의 결과값보다 작은 정수 중에 가장 큰 정수
# 음수
5 // 4

1

In [43]:
# 양수 
4 // 3

1

In [44]:
# 정수 몫을 구하고 남은 나머지만 반환 : % 
3 % 4

3

In [56]:
# 지수 : ** 
2 ** 3 #(2의 3제곱)
# 2의 제곱근을 구해보세요
2 ** 0.5

1.4142135623730951

### 2) 비교연산자 : 자료를 비교하기 위한 문법 기호
    - 결과가 숫자가 아닌 bool type의 결과를 가진다
    
> ##### bool type 
    - True : 0이 아닌 숫자, 참인 조건식 등
    - False : 0, 거짓인 조건식 등
- 값에 대한 비교 : ==, !=
- 크기에 대한 비교 : >, <, >=, <=

In [58]:
# 두 값이 같은지 비교 : ==
# (결과) 두 값이 같으면 True, 두 값이 다르면 False
0 == 0.0
type(0) == type(0.0)

False

In [60]:
# 두 값이 다른지 비교 : != 
# 두 값이 다르면 True, 같으면 False
type(0) != type(0.0)

True

### 3) 논리연산자
    - 여러 개의 조건식을 활용하기 위한 명령어
    - bool type 결과 반환 : True, False

In [61]:
# and 연산자 : 조건식 1 and 조건식 2 
# 조건식1과 조건식2가 모두 True라면 최종 결과도 True
# 둘 중 하나만 False여도 최종 결과는 False
# 둘 다 False라면 최종 결과는 False
10 < 12 # True
0 > -3 # True
10 < 12 and 0 > -3

True

In [62]:
# 숫자 0은 False, 이외에 모든 숫자는 True
# bool(자료)는 자료의 참 거짓을 판단해줍니다.
bool(-5)

True

In [63]:
# 0이 False로 사용되는 예시
bool(0 and 10 > 3) # 0 -> False, 10 > 3 -> True => and 연산자의 결과 : False

False

In [64]:
# or 연산자
# 조건식1 or 조건식2
# 둘 중 하나만 True여도 최종결과 True
# 둘 다 False일 때 최종결과 False
bool(0 or 10 > 3)

True

### 4) 할당연산자

- 변수 할당
- 누적 연산

In [65]:
# 변수명(왼쪽)에 변수값(오른쪽)을 할당/선언/저장/대입 : =
x = 10

In [66]:
# 숫자형의 누적함 += 
# result라는 변수에 누적합을 저장하기
result = 0
# result에 x만큼 더해서 저장하기 위해 원래 사용하던 코드
result += x # result = result + x
result

10

In [74]:
# 1 ~ 10까지 누적함을 구해보세요 : 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10
result = 0
for i in range(1, 11): 
    # i 변수가 1~10까지 반복됨
    # 여기에 누적합 구문을 작성해주세요.
    result += i
# 여기에 결과를 찍어주세요
print(result)

55

In [76]:
# 숫자형의 누적 차
result -= 1

In [77]:
result

53

In [79]:
# 누적곱 
result *= 2
result

110

### 1. 홍길동의 시험 성적 평균을 구하세요.
        | 영어 80점 | 국어 72점 | 수학 90점 | 사회 66점 | 
        
* 변수를 사용해서 과목의 평균을 구해보세요
* 출력 양식 : <br>
총합 308 <br> 
평균 77

In [80]:
eng = 80
kor = 72 
math = 90
social = 66

In [81]:
# 총합 구하기
sum = eng + kor + math + social
print(sum)

308

In [84]:
#평균 구하기
aver = 308 / 4
aver

77.0

In [87]:
# print 문을 이용해 총합과 평균 출력하기
print('총합 : ', sum)
print('평균 : ', aver)

총합 :  308
평균 :  77.0

### 2. 반지름이 7인 원의 넓이를 구해주세요

(참고) 원 넓이 = (반지름 ** 2) * 3.14

- 반지름과 원 넓이는 모두 변수로 저장해줍니다.
- 출력 양식<br>
반지름 : 3 <br>
원 넓이 : 27(소수점 없이 정수로 출력)

In [98]:
# 반지름 
r = 3

In [99]:
# 파이(원주율)
pi = 3.14

In [100]:
area = (r ** 2) * pi

In [101]:
area

28.26

In [102]:
print('반지름 : ', r)
print('원 넓이 : ', int(area))

반지름 :  3
원 넓이 :  28

### 3. 여러분들이 직접 임의의 변수에 원하는 숫자를 집어넣고 그 숫자의 제곱근과 세제곱 값을 출력해주세요.

In [103]:
 a = 3

In [106]:
print('제곱근 : ', a ** 0.5)

제곱근 :  1.7320508075688772

In [109]:
print('세제곱근 : ',a ** (1/3))

세제곱근 :  1.4422495703074083