# 데이터 입출력

## 1. csv 파일 적재

- pd.read_csv()
    - 컬럼명이 존재하는 데이터
    - 컬럼명이 없는 데이터
    - 구분자 설정

In [3]:
import pandas as pd

In [4]:
# data/ex1.csv 파일 읽기(컬럼명이 존재하는 csv파일)
# read_csv 기본동작 : 첫 행 데이터를 컬럼으로 사용
data = pd.read_csv('data/ex1.csv')
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
# data/ex2.csv 읽기(컬럼명이 없는 csv파일)
# read_csv : header=None을 주면 컬럼이 없는 csv를 정상적으로 읽어올 수 있음
data = pd.read_csv('data/ex2.csv', header=None)
data

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
# data 변수에 컬럼명 (a, b, c, d, e)를 각각 부여해주세요.
data.columns = ['a', 'b', 'c', 'd', 'e']
data

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [16]:
# data/ex3.csv 읽기
# 기본 구분자 = ,
# read_csv() : sep="다른 구분자"를 주면 다른 요소를 구분할 수 있음
data2 = pd.read_csv('data/ex3.csv')
data2

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [17]:
# 구분자를 \t로 바꿔서 로드해보세요.
pd.read_csv('data/ex3.csv', sep="\t")

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [18]:
# 구분자 "," " " "\t" "/" "\" => \s+로 처리해야함
pd.read_csv('data/ex3.csv', sep="\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [29]:
# data/ex4.csv 읽기(주석이 포함된 파일 읽기)
# 파라미터 1 : skiprows = [생략할 로우인덱스 번호들]
pd.read_csv('data/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [30]:
# 파라미터 2 : comment = '주석기호' {주석 앞에 붙인 기호, 현재 문서는 #이 붙음}
pd.read_csv('data/ex4.csv', comment="#")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 2. 엑셀 파일 읽기
- 기본적으로 첫번째 시트에 있는 데이터를 읽어와서 데이터프레임으로 저장
- 모든 시트를 읽기 위해서는 sheetname 인자를 None으로 설정
    - 모든 시트의 데이터를 읽어서 사전 형태로 저장
    - key = 시트의 이름, value = 각 시트에 있는 데이터들을 저장한 데이터프레임
- 특정 시트만 읽기 위해서는 sheetname 인자에 '시트명' 설정

### ex6.xlsx 파일
<img src="img/엑셀파일예제.jpg" alt="csv파일예제" style="width:600px;"/>

In [31]:
# 파일 읽기(첫 번째 시트 읽어옴, 디폴트)
pd.read_excel('data/ex6.xlsx')

   a   b
0  1   2
1  5   6
2  9  10

In [35]:
# 두 번째 시트 읽기 : sheet_name = '시트명'
pd.read_excel('data/ex6.xlsx', sheet_name='시트2')

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo

In [36]:
# 모든 시트 다 읽어오기
# sheet_name 파라미터 설정 = None
data = pd.read_excel('data/ex6.xlsx', sheet_name=None)

In [39]:
data['시트1'] # 인덱싱해주면 가지고 오고 싶은 시트를 가져올 수 있음

   a   b
0  1   2
1  5   6
2  9  10

In [40]:
data.values()

dict_values([   a   b
0  1   2
1  5   6
2  9  10,     c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo])

In [41]:
# 시트1, 시트 2의 데이터를 data1, data2 변수에 한 번에 저장하기
data1, data2 = data.values()

In [42]:
data1

   a   b
0  1   2
1  5   6
2  9  10

In [43]:
data2

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo