# 자료형

여러 개의 아이템들을 저장하는 객체 = 여러 개의 값(데이터타입)을 저장하는 그릇

## 1. 리스트(List)

▶ 문법 기호 : [아이템1, 아이템2, 아이템3 .... ]


▶ 용어 : 아이템 = 요소


▶ 아이템으로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트, 딕셔너리 ...


▶ 종류

     * 아이템이 없는 리스트
    
     * 1차원 리스트
    
     * 다차원 리스트 
    
    
▶ 특징

     * 인덱스 활용
    
     * 다차원 리스트의 구조에 대한 이해

### 1. 생성하기

In [1]:
# 빈 리스트 생성하기 = 아이템이 없는 리스트
# 문법기호 : []
# 함수 : list()
a = []
a2 = list()
print(type(a), type(a2))
print(a, a2)

<class 'list'> <class 'list'>
[] []

In [2]:
# 모든 데이터타입을 아이템으로 가질 수 있다.
a3 = ['a', 10, 1, 1, [1, 23.1, 'a']]

In [10]:
# 2차원 배열이며, 인덱스를 2개를 써야 하나의 값을 타겟으로 잡을 수 있다.
a3[4][0]

1

In [11]:
# 3차원 배열 예시
[1, 2, 3, [1, 2, 3, [10, 20]]]

[1, 2, 3, [1, 2, 3, [10, 20]]]

## 2. 인덱싱, 슬라이싱

리스트를 인덱스 번호로 접근하면 해당하는 위치의 값(아이템)을 가져온다.

※ 복습 
    
    - 첫 번째 인텍스 번호는 ? = 0번 인덱스 = 첫 번째 아이템
    - 마지막 인덱스 번호는 ? = -1 = 마지막 아이템

### 인덱싱(Indexing)

※ 정의 복습 : 특정 위치에 있는 하나의 아이템에 접근한다. = 하나의 값을 가져온다.

In [12]:
# 리스트 생성하기
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# 첫 번째 아이템 인덱스 번호 : 0
# 인덱싱 문법 : 객체[인덱스 번호]
a[0]

1

In [15]:
# 리스트에서 6을 가져와주세요.
a[5]

6

In [16]:
# 리스트의 마지막 값 확인하기
a[-1]

9

### 슬라이싱(Slicing)

- 정의 복습 : 연속된 범위에 있는 하나 또는 하나 이상의 여러개 아이템에 접근한다.
- 문법기호 : 대상객체(문자열, 리스트)[시작번호:끝번호:간격] => 끝번호는 포함하지 않는다.

In [17]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# 리스트의 0 ~ 2번째 아이템까지 확인하기
# 시작번호 : 0
# 끝번호 : 2 -> 3
a[0:3]

[1, 2, 3]

In [20]:
# 리스트의 3번째 아이템부터 마지막 아이템까지 확인하기
# 시작번호 ; 3
# 끝번호 : 생략
a[3:]

[4, 5, 6, 7, 8, 9]

### <<연습문제>>

다음의 4차원 리스트에서 아래 조건에 맞는 값을 출력해주세요.

        a = [1, 2, 3, ['a', [100, 200, ['강남', '서울'], 300], 'b', 'c']]
        
        출력 결과 = 강남 & 300 & c
        
        포매팅을 써서 해주세요.

In [49]:
a = [1, 2, 3, ['a', [100, 200, ['강남', '서울'], 300], 'b', 'c']]
value1 = a[3][1][2][0]
value2 = a[3][1][3]
value3 = a[3][3]

In [50]:
"출력 결과 : %s & %s & %s" % (value1, value2, value3)

'출력 결과 : 강남 & 300 & c'

### 3. 아이템 추가하기 : 연산자와 함수를 이용한 리스트 아이템 추가

1) 산술연산자 : +, *

2) 리스트의 함수(메서드) : 리스트, append(), 리스트.extend(), 리스트.insert()

### 3-1) 산술연산자

* 종류 : +, *

* 특징 : 원본에 반영되지 않는다.

In [51]:
# 리스트끼리 연결하기 : + 
a = [1, 2, 3]
b = [4, 5, 6]

In [52]:
a + b

[1, 2, 3, 4, 5, 6]

In [53]:
print(a, b)

[1, 2, 3] [4, 5, 6]

In [54]:
# 리스트 대상 곱하기 : * 
b * 3 # b + b + b

[4, 5, 6, 4, 5, 6, 4, 5, 6]

### 4. 리스트 타입의 함수(method)
* 종류
    
    - 리스트.append(추가할 아이템) : 인자값을 통채로 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음 = 1개의 아이템만 추가 가능
    
    - 리스트.extend(추가할 아이템) : 인자값의 아이템을 뽑아서 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음, 단 여러 개의 아이템추가 가능 

    - 리스트.insert(추가할 아이템) :

In [55]:
# 리스트 생성하기
a = [1, 2, 3]
a

[1, 2, 3]

In [57]:
# append()
# 문법 : 리스트.append(추가할 아이템)
a.append(4) # 4가 두 번 들어간 것은 내가 입력을 두번함
a

[1, 2, 3, 4, 4]

In [59]:
# 추가할 자료로 [5, 6]을  제공한다면
a.append([5, 6])
a

[1, 2, 3, 4, 4, [5, 6]]

In [60]:
# extend()
# 문법 : 대상리스트.extend(리스트)
# append()와의 차이점 : 인자값으로 리스트만 받을 수 있다.
# 리스트 길이만큼 인덱스 길이가 늘어난다(append는 무조건 1만큼만 연장됨)
a.extend([7, 8, 9])
a

[1, 2, 3, 4, 4, [5, 6], 7, 8, 9]

In [61]:
a.extend([10])

In [62]:
a

[1, 2, 3, 4, 4, [5, 6], 7, 8, 9, 10]

In [66]:
# insert()
# 문법 : 대상리스트.insert(인덱스번호, 추가할 아이템)
# 다른 함수와의 차이점 : 아이템 추가가 마지막 인덱스가 아닌 지정한 인덱스를 기준으로
# append와의 유사점 : 하나의 인덱스에 다 때려박음
a.insert(0, 100) # 100이 두 번 들어간 것은 내가 입력을 두번함
a

[100, 100, 1, 2, 3, 4, 4, [5, 6], 7, 8, 9, 10]

In [67]:
a.insert(0, [99, 98])

In [68]:
a

[[99, 98], 100, 100, 1, 2, 3, 4, 4, [5, 6], 7, 8, 9, 10]

In [69]:
# in 키워드는 특정 요소가 리스트 내에 있는지 없는지 여부를 물어봅니다.
# 값 in 리스트
# 값 100이 a리스트내에 존재하나요? => 100 in a
99 in a

False

In [70]:
# not in 키워드는 특정 요소가 리스트 내부에 없는지 여부를 물어봅니다.
# 값 not in 리스트
# 50이 a리스트에 존재 안 합니까? -> 50 not in a
50 not in a

True

### << 연습문제 >>

아래의 순서에 맞추어 직접 실행해보세요.

1) 빈 리스트 생성

2) 1번 리스트에 숫자 1, 2, 3을 아이템으로 추가

3) 2번 리스트의 3번째 위치에 문자 100을 아이템으로 추가

4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가

5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력

In [71]:
# 1) 빈 리스트 생성 
list = []

In [79]:
# 2) 1번 리스트에 숫자 1, 2, 3을 아이템으로 추가
# list += [1, 2, 3]
# list.append(1)
# list.append(2)
# list.append(3)
# 혹은
list.extend([1, 2, 3])

In [80]:
list

[1, 2, 3, 100, ['A', 'B'], 1, 2, 3, 1, 2, 3]

In [75]:
# 3) 2번 리스트의 3번째 위치에 문자 100을 아이템으로 추가
list.insert(3, 100)
list

[1, 2, 3, 100]

In [76]:
# 4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가
list.append(['A', 'B'])
list

[1, 2, 3, 100, ['A', 'B']]

In [81]:
# 5) 4번의 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력
list * 2

[1,
 2,
 3,
 100,
 ['A', 'B'],
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 100,
 ['A', 'B'],
 1,
 2,
 3,
 1,
 2,
 3]

### 5. 아이템 수정하기

- 인덱싱, 슬라이싱을 이용해서 아이템을 수정할 수 있다.

In [82]:
#리스트 생성하기
a = [1, 2, 3, 4]

In [83]:
# 하나의 아이템 수정하기
# 0번 인덱스에 있는 값을 [10, 20]으로 수정하기
# 결과 : [[10, 20], 2, 3, 4] , append와 유사(들어가는 모양이)
a[0] = [10, 20]
a

[[10, 20], 2, 3, 4]

In [84]:
# 연속된 범위의 여러 아이템 수정하기
# 0번 인덱스만 선택 => 슬라이싱으로 선택
a2 = [1, 2, 3, 4]
a2[0:1] = [10, 20] # 0번째부터 0번째까지(1-1번까지), extend와 유사(들어가는 모양이)
a2

[10, 20, 2, 3, 4]

In [86]:
# 슬라이싱으로 값을 할당할 때의 주의점 : 전달하는 값은 1개여도 리스트로 
a2[0:1] = [100]
a2

[100, 20, 2, 3, 4]

### << 연습문제 >>

아래 조건에 맞추어 리스트를 수정하세요.
    
    [ 10, 99, 3, '사과', 73, '바나나']

조건 1) '사과'를 'apple'로 수정 <br>
조건 2) 99, 3을 9, 33으로 수정(슬라이싱으로 교체하세요) <br>
조건 3) 73을 [ 73, 74 ] 로 수정 <br>

In [87]:
list = [10, 99, 3, '사과', 73, '바나나']

In [88]:
list[3] = 'apple'
list

[10, 99, 3, 'apple', 73, '바나나']

In [92]:
list[1:3] = [9, 33]

In [93]:
list

[10, 9, 33, 'apple', 73, '바나나']

In [94]:
list[4] = [73, 74]
list

[10, 9, 33, 'apple', [73, 74], '바나나']

### 6. 아이템 삭제하기

* 슬라이싱

* del 키워드 + 인덱싱 / 슬라이싱

* remove() 메서드 : 값을 기준으로 삭제

* pop() 
    - 인자값에 아무것도 입력하지 않거나 -1을 입력하면 마지막 인덱스를 삭제
    - 특정 인덱스를 지정하여 삭제

In [95]:
# 리스트 생성
a1 = [10, 20, 30, 40, 50]
a2 = [10, 20, 30, 40, 50]

In [96]:
# 하나의 아이템 삭제하기 -1 슬라이싱 + 빈 리스트 대입
# 0번 인덱스 값 삭제하기
a1[0:1] = []
a1

[20, 30, 40, 50]

In [97]:
# 만약 슬라이싱이 아닌 인덱싱을 이용한 빈 리스트 대입시는 빈 리스트가 해당 번호에 대입 
a2[0] = []
a2

[[], 20, 30, 40, 50]

In [98]:
# 하나의 아이템 삭제하기 2 - del 키워드 + 인덱싱
del a1[-1]
a1

[20, 30, 40]

In [99]:
# del 키워드는 원래 해당 변수나 자료를 삭제해버립니다.
# 리스트 전체를 del키워드로 걸면 리스트가 전부 다 삭제됩니다.
del a2
a2

NameError: name 'a2' is not defined

In [100]:
# 하나의 아이템 삭제하기 3 - remove() 메서드
# 문법 : 리스트.remove(삭제할 자료를 직접 기입(인덱스가 아님!!))
a = [1, 2, 3, 3, 4, 5]

In [101]:
# 5라는 값을 삭제(인덱스번호로는 6)
a.remove(5)
a

[1, 2, 3, 3, 4]

In [102]:
# 중복된 아이템이 존재하면 가장 앞서는 인덱스 자료 하나만 삭제
a.remove(3)
a

[1, 2, 3, 4]

In [103]:
# del 키워드는 단일자료뿐만 아니라 연속된 범위(슬라이싱) 자료 삭제도 가능합니다.
del a[2:]
a

[1, 2]

In [104]:
# 하나의 아이템 삭제하기 4 - pop() 메서드
# 마지막에 위치한 값이 몇이었는지 확인시켜주고 삭제함
a = [1, 2, 3, 4, 5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [105]:
a.pop() #인덱스번호를 기입하지 않으면 마지막 인덱스 자료 삭제(6삭제)

6

In [106]:
a

[1, 2, 3, 4, 5]

In [107]:
# 삭제하려는 인덱스번호 지정시 마지막 자료가 아닌 지정 인덱스번호의 자료 삭제
a.pop(2)

3

In [108]:
a

[1, 2, 4, 5]